.Form{
    display:grid;
    width: 50%;
	padding:0;
	grid-area: center;
	margin:auto;
  }
  .label{
      text-transform: uppercase;
      font-size:1.5rem;
      margin-bottom:.3rem;
      
  }
  .input{
      font-size:1.3rem;
      padding: 0rem 1rem;
      line-height: 3rem;
      border: 1px solid #ddd;
      margin-bottom:.3rem;
      border-radius:10px;
  }
  .button-submit{
      background-color:blue;
      color:white;
      border-radius:10px;
      font-size:1.2rem;
      cursor: pointer;
      transition: background-color 300ms;

  }
  .button-submit:hover{
      background-color:rgba(45, 85, 255, 1 );
  }

  
  @media (min-width:606px){
        .Form{
            grid-template-columns: auto 1fr auto;
            grid-gap:1rem;
            align-items: center;
        }
  }

  .movies{
      padding: 3rem 4rem;
      border-radius: 12px;
      box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
      margin-bottom: 2rem;
      background-color: white;
  }
  .movies-list{
      margin-bottom: 3rem;
      
  }
  .movies--title{
      font-size: 4rem;
      transition:"0.8s linear";
  }
  .card--image{
      margin: 0 auto;
      display:block;
  }
  .FadeIn{
        opacity:1;
        transition: width 1s, height 1s, opacity 1s 1s;
  }